@media only screen and (max-width: 768px) 
    /* For mobile phones: */ {
    ul.headerMenu li a{
        font-family: 'Inter';
        font-weight: bold;
        font-size:12px!important;
    }

    h2 {
        font-size: 60px!important;
    }
    h3  {
        font-size: 26px!important;
    }
    h5{
        font-size: 8px;
    }
    .heartIcon {
        width: 16px;
    }

}

body {
    margin: 0;
    padding: 0;
}

/*Affects the whole document*/
a {
    text-decoration: none;
}

/*Here starts the header*/
header {
    width: 100%;
    height: 116px;
    background-color:#974AAA;
    display: flex;
    justify-content: center;
    }

.headerBox {
    width: 100%;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column; 
    align-items: baseline;
}

    .headerIcons {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0 0 0;
    }

.headerIcons img {
    display: flex;
    justify-items: flex-end;
    width:20px;
    margin:7px;

}

.headerLogo {
    width: 177px!important;
    margin:0px 30px 0 30px!important;
}

.headerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

.headerMenu a:-webkit-any-link {
    color: white;
}

ul {
    list-style-type: none;
    height: 30px;
    width: auto;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
}


ul.headerMenu li a{
    font-family: 'Inter';
    font-weight: bold;
    font-size:16px;
}

h2 {
    padding: 0;
    margin: 0;
    height: fit-content;
    display: flex;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 0.1px black;
    font-weight: bold;
}

/*Here starts the index*/
.newCollection {
    background-image: url("./images/newCollection.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100% 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Here starts the footer*/
footer {
    background-image: url("./images/bgFooter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.txtFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Inter';
    font-size: small;
}

.txtFooter a p {
    color: white;
}

.txtPolicy {
    border-right: 2px solid white;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.copyright {
    padding-left: 10px;
}

.pFooter {
    margin: 0 0 3px 0;
    padding: 0;
}

/*Here starts the Catalog main*/

h3 {
    padding: 0;
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.1px black;
    paint-order: stroke fill;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.allProducts {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.card {
    margin-bottom: 20px;
    width: 30% !important;
    height: 30% !important;
}

h5 {
    font-family: 'Inter';
    font-style: normal;  
    font-size: 2vw;
    font-weight: bold;
    color: #4d1b59;
    padding-right: 5px;
}

.card-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
}
.card-body img {
    display: flex;
    align-self: center !important;
}

.goDown {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}