/*Affects the whole document*/
a {
    text-decoration: none;
}

/*Here starts the header*/
header {
    width: 100%;
    height: 116px;
    background-color:#974AAA;
    display: flex;
    justify-content: center;
    }

.headerBox {
    border: 4px solid pink;
    width: 100%;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column; 
    align-items: baseline;
}

ul {
    border: 1px solid rgb(0, 255, 149);
    list-style-type: none;
    height: 30px;
    width: auto;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
}

.headerIcons {
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    }

.headerIcons img {
    border: 2px solid brown;
    display: flex;
    justify-items: flex-end;
}

.headerLogo {
    width: auto;
    min-height: 90%;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.headerMenu {
    width: 100%;
    font-family: 'Inter';
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

.headerMenu a:-webkit-any-link {
    color: white;
}